<p id="notice"><%= notice %></p>

<p>
  <% unless @picture.image.url == nil %>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url %>
  <% end %>
</p>

<p>
  <strong>Content:</strong>
  <%= @picture.content %>
</p>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
